* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.container {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    user-select: none;
}

.grid {
    width: 5px;
    height: 5px;
    box-sizing: border-box;
   
}

.change-color {
    background-color: yellow;
}

